@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  /* or add it to the track */
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

*::-webkit-scrollbar-button:increment {
  background-image: url("../images/angle-double-down-solid.svg");
  background-size: 100% 100%;
}

*::-webkit-scrollbar-button:decrement {
  background-image: url("../images/angle-double-up-solid.svg");
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #000000;
}

p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

img {
  max-width: 100%;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
}

dl,
dd,
dt {
  margin: 0;
}

nav {
  position: fixed;
  top: 15px;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 12;
}

nav #btn-nav-bar {
  display: none;
  position: absolute;
  right: -35px;
  width: 35px;
  height: 35px;
  top: 0;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

nav #btn-nav-bar #img-open-nav {
  display: block;
}

nav #btn-nav-bar #img-close-nav {
  display: none;
}

nav a {
  display: block;
}

nav .nav-main {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
  border-bottom-right-radius: 12px;
  overflow-y: auto;
  max-height: 80vh;
  padding: 0px 20px;
}

@media screen and (max-width: 756px) {
  nav {
    left: -270px;
  }
  nav #btn-nav-bar {
    display: block;
  }
  nav.open-nav {
    left: 0;
  }
  nav.open-nav #btn-nav-bar {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
    background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
  }
  nav.open-nav #btn-nav-bar #img-open-nav {
    display: none;
  }
  nav.open-nav #btn-nav-bar #img-close-nav {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  nav {
    max-width: 250px;
    left: -250px;
  }
  nav h1 {
    font-size: 1.6rem !important;
  }
}

nav .logo-nav {
  background-color: rgba(58, 120, 120, 0.8);
}

@media screen and (min-width: 756px) {
  nav .logo-nav {
    border-top-right-radius: 12px;
  }
}

nav .logo-nav {
  padding-left: 2rem;
  padding-right: 2rem;
  max-height: 7.7rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

nav .logo-nav img {
  max-height: 7.7rem;
  width: auto;
}

nav .dropdown {
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

nav .dropdown:last-child {
  padding-bottom: 1rem;
}

nav .dropdown .nav-group {
  position: relative;
  color: #b4d741;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

nav .dropdown .nav-group::after {
  content: "";
  position: absolute;
  background-image: url(../images/i-dropdown.png);
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  right: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .dropdown.active ul {
  max-height: 100vh;
}

nav .dropdown.active .nav-group::after {
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .dropdown.active #tongthe,
nav .dropdown.active #sanpham,
nav .dropdown.active #tienich,
nav .dropdown.active .isclose_tabnav {
  display: block;
}

nav .dropdown ul {
  max-width: 310px;
  -webkit-transform-origin: 10px -20px;
          transform-origin: 10px -20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: hidden;
  max-height: 0vh;
}

nav .dropdown ul li {
  position: relative;
  margin-top: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 6px;
}

nav .dropdown ul li a {
  text-decoration: none;
  color: white;
}

nav .dropdown ul li:hover, nav .dropdown ul li.active {
  color: #daff61;
}

nav .dropdown ul li:hover::before, nav .dropdown ul li.active::before {
  border-left: 5px solid #daff61;
}

#btn-info {
  position: fixed;
  top: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  cursor: pointer;
}

#btn-info::after {
  display: none;
  content: attr(data-title);
  position: absolute;
  bottom: -45%;
  left: 50%;
  -webkit-transform: translate(-50%, 45%);
          transform: translate(-50%, 45%);
  width: 7rem;
  background-color: #21508f;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  color: #ffffff;
}

#btn-info:hover::after {
  display: block;
}

#btn-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 4rem;
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
  z-index: 1001;
}

#btn-nav img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#btn-nav.show img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.popup.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup-info {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 80vw;
  max-height: 80vh;
  width: 450px;
  height: 700px;
  border-radius: 4rem;
  padding: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
  padding-bottom: 2.5rem;
}

.popup-title {
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1.5rem;
}

.popup-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  display: block;
  border-bottom: 1px solid #ffffff;
}

.popup-title h1 {
  margin: 0;
  font-size: 30px;
  display: inline-block;
  max-width: calc(100% - 160px);
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: normal;
}

.popup-title .logo-nav {
  margin: auto;
  max-width: 140px;
}

.popup-title .logo-nav img {
  max-width: 140px;
}

.popup-btn-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.popup-btn-close::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 0.5rem;
  background-color: red;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          transform: translate(-50%, -50%) rotateZ(45deg);
}

.popup-btn-close::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 0.5rem;
  background-color: red;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
          transform: translate(-50%, -50%) rotateZ(-45deg);
}

.popup-content, .popup-form-contact {
  height: calc(100% - 50px);
  overflow: auto;
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.popup-contact .popup-info, .popup-register .popup-info, .popup-register-land .popup-info {
  height: auto;
  padding: 0.3rem;
  width: 650px;
  background: white;
  background-clip: padding-box;
  /* !importanté */
  border: solid 0px transparent;
  /* !importanté */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
}

.popup-contact .popup-info:before, .popup-register .popup-info:before, .popup-register-land .popup-info:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 2px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: white;
}

.popup-contact .popup-info .popup-title h1, .popup-register .popup-info .popup-title h1, .popup-register-land .popup-info .popup-title h1 {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.popup-contact .popup-info .popup-title::after, .popup-register .popup-info .popup-title::after, .popup-register-land .popup-info .popup-title::after {
  height: 1px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
}

.popup-form-contact form, .popup-form-register form, .popup-form-register-land form {
  width: 100%;
  margin: auto;
}

.popup-form-contact form .main-form, .popup-form-register form .main-form, .popup-form-register-land form .main-form {
  height: 50vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup-form-contact form .main-form .main-form-left,
.popup-form-contact form .main-form .main-form-right, .popup-form-register form .main-form .main-form-left,
.popup-form-register form .main-form .main-form-right, .popup-form-register-land form .main-form .main-form-left,
.popup-form-register-land form .main-form .main-form-right {
  width: 50%;
}

@media screen and (max-width: 900px) {
  .popup-form-contact form .main-form .main-form-left,
  .popup-form-contact form .main-form .main-form-right, .popup-form-register form .main-form .main-form-left,
  .popup-form-register form .main-form .main-form-right, .popup-form-register-land form .main-form .main-form-left,
  .popup-form-register-land form .main-form .main-form-right {
    width: 100%;
  }
}

.popup-form-contact form .form-group, .popup-form-register form .form-group, .popup-form-register-land form .form-group {
  margin-bottom: 0.3rem;
}

.popup-form-contact form .form-group label, .popup-form-register form .form-group label, .popup-form-register-land form .form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.popup-form-contact form .form-group label .required, .popup-form-register form .form-group label .required, .popup-form-register-land form .form-group label .required {
  color: red;
}

.popup-form-contact form .form-group label img, .popup-form-register form .form-group label img, .popup-form-register-land form .form-group label img {
  width: 15px;
  height: auto;
  margin-right: 1rem;
}

.popup-form-contact form .form-group dd, .popup-form-register form .form-group dd, .popup-form-register-land form .form-group dd {
  padding-left: 15px;
  padding-right: 15px;
}

.popup-form-contact form .form-group input,
.popup-form-contact form .form-group textarea,
.popup-form-contact form .form-group select, .popup-form-register form .form-group input,
.popup-form-register form .form-group textarea,
.popup-form-register form .form-group select, .popup-form-register-land form .form-group input,
.popup-form-register-land form .form-group textarea,
.popup-form-register-land form .form-group select {
  max-height: 25rem;
  width: 100%;
  font-size: 1.4rem;
  padding: 0.4rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #cccccc;
}

.popup-form-contact form .form-group input:focus,
.popup-form-contact form .form-group textarea:focus,
.popup-form-contact form .form-group select:focus, .popup-form-register form .form-group input:focus,
.popup-form-register form .form-group textarea:focus,
.popup-form-register form .form-group select:focus, .popup-form-register-land form .form-group input:focus,
.popup-form-register-land form .form-group textarea:focus,
.popup-form-register-land form .form-group select:focus {
  outline: none;
}

.popup-form-contact form .form-group input.placeholderCT,
.popup-form-contact form .form-group textarea.placeholderCT,
.popup-form-contact form .form-group select.placeholderCT, .popup-form-register form .form-group input.placeholderCT,
.popup-form-register form .form-group textarea.placeholderCT,
.popup-form-register form .form-group select.placeholderCT, .popup-form-register-land form .form-group input.placeholderCT,
.popup-form-register-land form .form-group textarea.placeholderCT,
.popup-form-register-land form .form-group select.placeholderCT {
  color: darkgray;
}

.popup-form-contact form .form-group .btn, .popup-form-register form .form-group .btn, .popup-form-register-land form .form-group .btn {
  font-size: 14px;
  border: none;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  min-width: 9rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
}

.popup-form-contact form .form-group .btn-submit, .popup-form-register form .form-group .btn-submit, .popup-form-register-land form .form-group .btn-submit {
  margin-right: 1.5rem;
}

.popup-form-contact form .form-group .errors-desc, .popup-form-register form .form-group .errors-desc, .popup-form-register-land form .form-group .errors-desc {
  display: none;
}

.popup-form-contact form .form-group.errors .errors-desc, .popup-form-register form .form-group.errors .errors-desc, .popup-form-register-land form .form-group.errors .errors-desc {
  display: block;
  color: red;
}

.popup-form-contact form .form-group.errors label, .popup-form-register form .form-group.errors label, .popup-form-register-land form .form-group.errors label {
  color: red;
}

.popup-form-contact form .form-group.errors input, .popup-form-register form .form-group.errors input, .popup-form-register-land form .form-group.errors input {
  border-color: red;
}

.popup-form-contact form .form-group.errors textarea, .popup-form-register form .form-group.errors textarea, .popup-form-register-land form .form-group.errors textarea {
  border-color: red;
}

.popup-form-contact form .form-group .c-calendar, .popup-form-register form .form-group .c-calendar, .popup-form-register-land form .form-group .c-calendar {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 25px;
  height: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.popup-form-contact form .form-group .c-calendar img, .popup-form-register form .form-group .c-calendar img, .popup-form-register-land form .form-group .c-calendar img {
  width: 16px;
  height: auto;
  margin: auto;
}

.popup-company .popup-btn-close {
  right: -2rem;
  top: -2rem;
  background-color: rgba(192, 194, 195, 0.8);
}

.popup-company .popup-info {
  width: initial;
  height: initial;
  min-width: 30rem;
  border: 3px solid #e3e3e3;
  border-radius: 0;
  background-color: rgba(192, 194, 195, 0.8);
  color: #994d03;
  background-image: none;
  padding: 0;
}

.popup-company .popup-company-conten {
  background-color: rgba(192, 194, 195, 0.13);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.popup-company .popup-company-conten dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.popup-company .popup-company-conten dl dd {
  padding-left: 10px;
}

.popup-company .popup-company-conten dl #ten_cty {
  padding-left: 0;
}

.popup-company .popup-company-conten dl:not(:last-child) {
  margin-bottom: 0.5rem;
}

.popup-desc .popup-btn-close {
  right: 0.5rem;
  top: 0.5rem;
}

.popup-desc .popup-info {
  width: initial;
  height: initial;
  min-width: 30rem;
  background: none;
  border-radius: 0;
  background-color: rgba(62, 58, 58, 0.69);
  color: #ffffff;
  padding: 0;
  padding-bottom: 5px;
}

.popup-desc .popup-info .popup-title {
  display: block;
  background: none;
  text-align: center;
  border: none;
  color: #d64f06;
}

.popup-desc .popup-info .popup-title h1 {
  font-size: 1.6rem;
  margin: 0;
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.popup-desc .popup-content {
  margin-top: 5px;
  padding: 1rem;
  max-width: 90vw;
  background: none;
  max-height: 90vh;
}

.popup-desc .popup-content dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.popup-desc .popup-content dl dd {
  padding-left: 10px;
}

.popup-desc .popup-content dl #ten_cty {
  padding-left: 0;
}

.popup-desc .popup-content dl:not(:last-child) {
  margin-bottom: 0.5rem;
}

.popup .flex-center-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.popup.popup-content-view .popup-info, .popup.popup-content-nav .popup-info, .popup.popup-content-land .popup-info {
  border-radius: 5px;
  width: 780px;
  max-width: 90vw;
  min-height: 100px;
  height: auto;
}

.popup.popup-content-view .popup-info .content, .popup.popup-content-nav .popup-info .content, .popup.popup-content-land .popup-info .content {
  border-radius: 5px;
  background-color: white;
  overflow-y: auto;
  max-height: 69vh;
  padding: 5px;
}

.popup.popup-content-land .popup-info {
  width: auto;
  min-width: 300px;
}

.popup.popup-content-land .popup-info .content {
  min-height: 100px;
}

.popup .btn-close-popup {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  color: #b4d741;
  border: 2px solid #b4d741;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 22.5px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.popup.popup-dark .popup-info {
  background: rgba(62, 58, 58, 0.69);
  border-radius: 0;
}

.popup.popup-dark .popup-info .content {
  background: none;
  color: white !important;
}

.popup.popup-dark .popup-info .content p,
.popup.popup-dark .popup-info .content li,
.popup.popup-dark .popup-info .content a,
.popup.popup-dark .popup-info .content span,
.popup.popup-dark .popup-info .content h1,
.popup.popup-dark .popup-info .content h2,
.popup.popup-dark .popup-info .content h3,
.popup.popup-dark .popup-info .content h4,
.popup.popup-dark .popup-info .content h5 {
  color: white !important;
}

.popup.popup-dark .btn-close-popup {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  color: #b4d741;
  background: none;
  width: 30px;
  height: 30px;
  border: 1px solid #b4d741;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  text-align: center;
  line-height: 26.5px;
  font-size: 24px;
  text-shadow: none;
  cursor: pointer;
}

.popup.popup-register .popup-info, .popup.popup-register-land .popup-info {
  border-radius: 0.5rem;
}

.popup.popup-register .btn-close-popup, .popup.popup-register-land .btn-close-popup {
  top: 5px;
  right: 5px;
}

#btn-info-view {
  position: fixed;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

#btn-info-view.show {
  display: block;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 8.5rem;
  right: 1.5rem;
  width: 50px;
  height: 50px;
  z-index: 10000;
  -webkit-transform: all 0.5s;
          transform: all 0.5s;
}

.chat .btn-chat {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
  border-radius: 50%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px #658b69 double;
}

.chat .btn-chat img {
  max-width: 100%;
  -webkit-animation: ring2 1.5s infinite ease-in-out;
          animation: ring2 1.5s infinite ease-in-out;
}

.chat::before {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  overflow: hidden;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 139, 105, 0.8)), to(rgba(66, 115, 115, 0.8)));
  background-image: linear-gradient(to right, rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 25px;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
}

.chat:hover::before {
  width: 150px;
  left: -125px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.chat::after {
  content: "";
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #658b69;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
          animation: ring 1.5s infinite;
}

@-webkit-keyframes ring {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

@-webkit-keyframes ring2 {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes ring2 {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes ring3 {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 25px;
    height: 25px;
    opacity: 0;
  }
}

@keyframes ring3 {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 25px;
    height: 25px;
    opacity: 0;
  }
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000073;
  z-index: 10001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.loading .loader {
  position: relative;
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  -webkit-transform: translateZ(0) translateX(-50%) translateY(-50%);
  transform: translateZ(0) translateX(-50%) translateY(-50%);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.swal2-container {
  z-index: 10002 !important;
}

.language {
  position: fixed;
  top: 5px;
  right: 0;
  z-index: 11;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language ul li {
  list-style: none;
}

.language ul li a {
  display: block;
  text-decoration: none;
  color: #c5c6c8;
  padding-left: 5px;
  padding-right: 5px;
}

.language ul li a.is-active {
  color: #054d90;
}

.language ul li:first-child {
  border-right: 1px solid #054d90;
}

.master-plan {
  position: fixed;
  z-index: 10001;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 95vw;
  max-height: 95vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.master-plan .btn-close-masterplan {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  color: #b4d741;
  border: 3px solid #b4d741;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.master-plan .btn-close-masterplan::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 0.5rem;
  background-color: #b4d741;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          transform: translate(-50%, -50%) rotateZ(45deg);
}

.master-plan .btn-close-masterplan::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 0.5rem;
  background-color: #b4d741;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
          transform: translate(-50%, -50%) rotateZ(-45deg);
}

.master-plan #img-masterplan {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.master-plan #img-masterplan img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
  width: auto;
}

.master-plan #img-masterplan #js-dotting-map li {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #21508f;
  border-radius: 50%;
  z-index: 1;
}

.master-plan #img-masterplan #js-dotting-map li.utilities {
  background-color: transparent;
}

.master-plan #img-masterplan #js-dotting-map li:hover {
  z-index: 3;
}

.master-plan #img-masterplan #js-dotting-map li:hover::after {
  content: attr(data-title);
  position: absolute;
  pointer-events: none;
  top: -100%;
  font-size: 14px;
  max-width: 150px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  color: #ffffff;
  background-color: #21508f;
  border: 1px solid #ffffff;
  padding: 5px 10px;
}

.master-plan #img-masterplan #js-dotting-map li.active {
  background-color: #ff0000;
  z-index: 2;
  width: 14px !important;
  height: 14px !important;
}

.master-plan #img-masterplan #js-dotting-map li.active::before {
  border-color: #ff0000;
}

.master-plan #action-masterplan {
  position: absolute;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  left: 3px;
  top: 3px;
}

.master-plan #action-masterplan li {
  list-style: none;
  cursor: pointer;
}

.master-plan #action-masterplan li:not(:first-child) {
  margin-left: 3px;
}

.master-plan.active {
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

.master-plan.active:not(.active-big) #img-masterplan {
  opacity: 1;
}

.master-plan.active:not(.active-big) #img-masterplan #js-dotting-map li {
  width: 10px;
  height: 10px;
}

.master-plan.active-big {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.master-plan.active-big li.active {
  width: 20px !important;
  height: 25px !important;
}

.master-plan.active-big .btn-close-masterplan {
  display: block;
}

.master-plan.active-big #action-masterplan {
  display: none;
}

.scan_3d {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.scan_3d iframe {
  width: 100vw;
  height: 100vh;
}

.scan_3d.active {
  display: block;
}

@-webkit-keyframes colorChange {
  0% {
    fill: #658b69;
  }
  50% {
    fill: #ffffff;
  }
  100% {
    fill: rgba(101, 139, 105, 0.5);
  }
}

@keyframes colorChange {
  0% {
    fill: #658b69;
  }
  50% {
    fill: #ffffff;
  }
  100% {
    fill: rgba(101, 139, 105, 0.5);
  }
}

.masterplane_sao {
  width: 200px;
  height: 200px;
  -webkit-animation: colorChange 1s infinite;
          animation: colorChange 1s infinite;
}

.master-plan-tienich {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
  height: 100%;
  display: none;
  background: #ffffff;
  z-index: 10001;
}

.master-plan-tienich.active {
  display: block;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.master-plan-tienich .btn-close-masterplan-tienich {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1;
}

.master-plan-tienich .btn-close-masterplan-tienich::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 0.5rem;
  background-color: red;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          transform: translate(-50%, -50%) rotateZ(45deg);
}

.master-plan-tienich .btn-close-masterplan-tienich::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 0.5rem;
  background-color: red;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
          transform: translate(-50%, -50%) rotateZ(-45deg);
}

.master-plan-tienich #img-masterplan {
  height: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .master-plan-tienich #img-masterplan img {
    width: auto;
    max-width: 100vw;
    height: 100%;
    max-height: 100vh;
  }
}

@media (max-width: 767px) {
  .master-plan-tienich #img-masterplan img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    max-height: 100vh;
  }
}

.master-plan-gas {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
  height: 100%;
  display: none;
  background: #ffffff;
  z-index: 10001;
}

.master-plan-gas.active {
  display: block;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.master-plan-gas .btn-close-masterplan-gas {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1;
}

.master-plan-gas .btn-close-masterplan-gas::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 0.5rem;
  background-color: red;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          transform: translate(-50%, -50%) rotateZ(45deg);
}

.master-plan-gas .btn-close-masterplan-gas::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 0.5rem;
  background-color: red;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
          transform: translate(-50%, -50%) rotateZ(-45deg);
}

.master-plan-gas #img-masterplan {
  height: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .master-plan-gas #img-masterplan img {
    width: auto;
    max-width: 100vw;
    height: 100%;
    max-height: 100vh;
  }
}

@media (max-width: 767px) {
  .master-plan-gas #img-masterplan img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    max-height: 100vh;
  }
}

.loading-first {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 10001;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #ffffff80;
}

.loading-first .loading-main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70rem;
  height: 70rem;
  max-width: 90vw;
  max-height: 90vw;
  border-radius: 50%;
}

.loading-first #loading-logo {
  text-align: center;
}

.loading-first #loading-logo img {
  width: 17rem;
}

.loading-first #loading-title {
  text-align: center;
  margin-top: 3.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0071b7;
}

.loading-first #loading-bar-group {
  margin-top: 2rem;
}

.loading-first #loading-bar-group #loading-bar {
  width: 12rem;
  height: 0.6rem;
  margin: auto;
  position: relative;
  background-color: #d4d4d4;
}

.loading-first #loading-bar-group #loading-bar #loading-fill {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0071b7;
}

.loading-first #loading-bar-group #loading-bar-percent {
  text-align: center;
  margin-top: 0.4rem;
  font-size: 1.2rem;
  color: #424242;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.guide {
  position: fixed;
  top: 50%;
  pointer-events: none;
  max-width: 45vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.guide-left {
  left: 0;
}

.guide-right {
  right: 0;
}

.guide ul {
  padding: 0;
  margin: 0;
}

.guide ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.guide ul li:not(:last-child) {
  margin-bottom: 5px;
}

.guide ul li img {
  width: 30px;
}

.guide-left ul li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.guide-right ul li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.clear-pd {
  padding: 0px !important;
}

.clear-pd_left {
  padding-left: 0px !important;
}

.clear-pd_right {
  padding-right: 0px !important;
}

.enquiry input {
  width: inherit !important;
}

.enquiry_note {
  display: block;
  font-size: 11px;
  color: gray;
  font-weight: normal;
}

.main-form .form-group {
  width: 50%;
}

.w-100 {
  width: 100% !important;
}

textarea {
  min-height: 80px;
  min-width: 100%;
  max-width: 100%;
}

.textarea-cs dd {
  position: relative;
}

.placeholder {
  display: none;
  position: absolute;
  top: 15px;
  left: 55px;
  font-size: 13px;
  font-style: italic;
  color: gray;
  pointer-events: none;
}

.placeholderCT .placeholder {
  display: block;
}

.enquiry_name {
  font-style: italic;
  font-size: 14px;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.swal2-container {
  z-index: 10002 !important;
}

.top-right {
  position: fixed;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-right #map {
  margin-right: 5px;
  cursor: pointer;
}

.top-right #language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-right #language ul li {
  padding: 0 5px;
}

.top-right #language ul li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #b4bcbc;
  cursor: pointer;
}

.top-right #language ul li a img {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.top-right #language ul li.active a {
  color: #124141;
}

.top-right #language ul li.active a img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media only screen and (max-width: 767px) {
  .ms-d-none {
    display: none !important;
  }
  .main-form {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .main-form .form-group {
    width: 100%;
  }
  .ms-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .ms-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .ms-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .ms-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .ms-order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .ms-order-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .ms-order-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .ms-order-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .ms-order-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .ms-order-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

.list-dotting li svg {
  position: absolute;
  top: 50%;
  pointer-events: none;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-120deg);
          transform: translate(-50%, -50%) rotate(-120deg);
}

#visit-reservation {
  position: fixed;
  top: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(101, 139, 105, 0.8)), color-stop(rgba(66, 115, 115, 0.8)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(101, 139, 105, 0.8), rgba(66, 115, 115, 0.8), rgba(0, 0, 0, 0));
  color: white;
}

#visit-reservation li {
  cursor: pointer;
  padding: 10px 25px;
  font-weight: bold;
}

#visit-reservation li:not(:last-child) {
  border-right: 2px solid white;
}
/*# sourceMappingURL=style.css.map */