.brand-link {
    padding-left: 40px;
}

.sidebar-collapse .brand-link {
    padding-left: 0;
}

.brand-image {
    width: 100% !important;
    max-width: 135px;
    margin: 0;
}

.sidebar-collapse .brand-image {
    padding-left: 0;
    margin-left: 5px;
}

.table-style th {
    font-weight: bold;
    color: #616161;
}

.table-style td {
    color: #8c8c8c;
}

.table-style td,
.table-style th {
    border-top: none !important;
}

.table-style a:link,
.table-style a:visited {
    color: #006699;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}

.badge-status {
    width: 90px;
}

.title-custom {
    font-weight: bold;
    color: #616161;
    font-size: 18px;
    font-family: Arial, Verdana;
    text-transform: uppercase;
}


/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.card-body-action {
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.vertical-align-mid {
    vertical-align: middle !important;
}

.sorting {
    cursor: pointer;
}

.sorting::after {
    margin-left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0dc";
}

.sorting.desc::after {
    margin-left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0dd";
}

.sorting.asc::after {
    margin-left: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0de";
}

.main-sidebar,
.main-sidebar::before {
    width: 320px;
}

.sidebar-mini .main-sidebar .nav-flat .nav-link,
.sidebar-mini-md .main-sidebar .nav-flat .nav-link,
.sidebar-mini-xs .main-sidebar .nav-flat .nav-link {
    width: 320px;
}

@media (min-width: 768px) {

    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
    body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
        margin-left: 320px;
    }
}

.lable-new {
    color: white;
    font-weight: bold;
    display: inline-block;
    background-color: red;
    padding: 0 5px;
    border-radius: 3px;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link {
    color: #fff;
    font-weight: bold;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link:not(.active),
[class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link:not(.active) {
    background-color: #004085;
}

.form-control {
    line-height: 1.1;
}

.tab-pane {
    padding-top: 15px;
}
